parameters:
    reportUnmatchedIgnoredErrors: true
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    treatPhpDocTypesAsCertain: false

    excludes_analyse:
        - src/DependencyInjection/Configuration.php