<span style="margin-right: 5px;">
    {{ data.trustpilotEmailsSent }}
</span>

{% if data.user is not null and data.user.customer is not null %}
    {% import '@SyliusUi/Macro/buttons.html.twig' as buttons %}

    {% if data.user.customer.isTrustpilotEnabled %}
        {% set path = path('setono_sylius_trustpilot_admin_customer_trustpilot_disable', { 'id': data.user.customer.id }) %}
        {{ buttons.default(path, null, null, 'toggle on', 'green') }}
    {% else %}
        {% set path = path('setono_sylius_trustpilot_admin_customer_trustpilot_enable', { 'id': data.user.customer.id }) %}
        {{ buttons.default(path, null, null, 'toggle off', 'gray') }}
    {% endif %}
{% endif %}
