{%
    set viewOptions = {
        failed: { icon: 'ban', color: 'red' },
        initial: { icon: 'clock', color: 'gray' },
        pending: { icon: 'clock', color: 'olive' },
        processing: { icon: 'check', color: 'violet' },
        sent: { icon: 'check', color: 'green' },
}
%}

{% set value = 'setono_sylius_trustpilot.ui.' ~ data %}

<span class="ui {{ viewOptions[data]['color'] }} label">
    <i class="{{ viewOptions[data]['icon'] }} icon"></i>
    {{ value|trans }}
</span>
